*{
  margin:0px 0px 0px 0px;
}

body{
   margin:0px 0px 0px 0px;
   min-height: 100vh;
}

#cabeza{
  width: 100%;
  background-color: #F3C81A;
  margin: 0px;
}

.menu{
  display: block;
}


#div_logo{
  width: 100%;
  text-align: center;
  margin:0px 0px 0px 0px;
}

.menu_bar {
  display:none;
}

#div_menu{
  width: 100%;
  background-color: #333;
  margin:0px 0px 0px 0px;
}

.menu ul{
  list-style:none;
  margin-left: -15.77px;
  padding: 0px;
}

.menu ul li{
  display:inline-block;
  position: relative;
}

.menu ul li:hover {
  background:#E6344A;
}

.menu ul li a {
  color:#fff;
  display:block;
  text-decoration:none;
  padding: 20px;
  font-weight: bold;
}

footer{
  background-color: #333;
  height: 60px;
 /*position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;*/
}

h2{
  margin:0px 0px 0px 0px;
}

#result{
  margin:0px 0px 0px 0px;
}

input{
 margin:0px 0px 0px 0px;
}

@media screen and (max-width: 800px) {

  .menu{
    width: 100%;
    margin: 0;
    display: none;
  }

  .menu ul li{
    display: block;
    border-bottom:1px solid rgba(255,255,255,.5);
    text-align: center;
  }

  .menu ul li a{
    display: block;
    padding: 10px;
  }

  .menu_bar {
    display:block;
    width:100%;
    background:#333;
  }
 
  .menu_bar .bt-menu {
    display: block;
    padding: 20px;
    color: #fff;
    overflow: hidden;
    font-size: 20px;
    text-decoration: none;
  }
 
  .menu_bar span {
    float: right;
    font-size: 20px;
  }

}