*{
  margin:0px 0px 0px 0px;
}

html, body{
   width: 100%;
   height: 100%;
   margin: 0px 0px 0px 0px;
}

img{
  width: auto;
}

#botones{
  width: 100%;
  display: inline-block;
}

#cabezera{
  display: inline-block;
  width: 100%;
}

#titulo{
  width: 100%;
  text-align: center;
}

#numeros{
  font-size: 20px;
  margin-left: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#result{
  font-size: 20px;
  margin-left: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#btn_2{
  width: 36%;
  text-align: center;
  display: inline-block;
}

#btn_3{
  width: 36%;
  text-align: center;
  display: inline-block;
}


#btn_1{
  width: 15%;
  text-align: center;
  display: inline-block;
}

#txt_1{
  width: 48%;
  text-align: center;
  display: inline-block;
}

#agregar{
    border: none;
    background: #333;
    color: #f2f2f2;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
    margin-left: 5px;
    float: left;
}

#ordenar{
    border: none;
    background: #333;
    color: #f2f2f2;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
    margin-left: 5px;
    float: left;
}

#limpiar{
    border: none;
    background: #333;
    color: #f2f2f2;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
    margin-left: 5px;
    float: left;
}

#numero{
    float: left;
    border: 1px solid #DBE1EB;
    font-size: 18px;
    font-family: Arial, Verdana;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    background: #FFFFFF;
    color: #2E3133;
}

#numero:focus{
  color: #2E3133;
  border-color: #FBFFAD;
}

#cabeza{
  height: auto !important;
  height: 100%;
  width: 100%;
  background-color: #F3C81A;
}

.menu{
  display: block;
}


#div_logo{
  width: 100%;
  text-align: center;
  margin:0px 0px 0px 0px;
}

.menu_bar {
  display:none;
}

#div_menu{
  width: 100%;
  background-color: #333;
  margin:0px 0px 0px 0px;
}

.menu ul{
  list-style:none;
  margin-left: 25px;
  padding: 0px;
}



.menu ul li{
  display:inline-block;
  position: relative;
}

.menu ul li:last-child{
 
  border-right:0px
}

.menu ul li:hover {
  background:#E6344A;
}

.menu ul li a {
  color:#fff;
  display:block;
  text-decoration:none;
  padding: 20px;
  font-weight: bold;
}

footer{
  background-color: #333;
  height: 80px;
  width: 100%;
}

h2{
  margin:0px 0px 0px 0px;
}

#result{
  min-height: 52%;
  height: auto !important;
  height: 100%;
}

input{
 margin:0px 0px 0px 0px;
}

#div_ft p{
  color: white;
  margin:  0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

#div_ft p a{
  color: #F3C81A;
  margin:  0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
}

#div_ft h3{
  color: white;
  margin:  0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

#div_ft{
  width: 32%;
  display: inline-block;
  padding: 7px;
  text-align: center;
}

#div_cuerpo{
  height: auto !important;
  height: 100%;
}

#titulo{
    text-align: center;
}

#titulo h1{
    text-align: center;
    font-size: 60px;
}

@media screen and (max-width: 1265px) {
    #div_ft{
      width: 30%;
      display: inline-block;
      padding: 7px;
      text-align: center;
    }

}


@media screen and (max-width: 800px) {

  .menu{
    width: 100%;
    margin: 0px 0px 0px 0px;
    display: none;
  }

  .menu ul li{
    display: block;
    border-bottom:1px solid rgba(255,255,255,.5);
    text-align: center;
  }

  .menu ul li:first-child{
    display: block;
    border-top:1px solid rgba(255,255,255,.5);
    text-align: center;
  }

  .menu ul li a{
    display: block;
    padding: 10px;
  }

  .menu_bar {
    display:block;
    width:100%;
    background:#333;

  }
 
  .menu_bar .bt-menu {
    display: block;
    padding: 20px;
    color: #fff;
    overflow: hidden;
    font-size: 20px;
    text-decoration: none;
  }
 
  .menu_bar span {
    float: right;
    font-size: 20px;
  }

  #div_ft{
    width: 100%;
    display: block;
    padding: 0px 0px 0px 0px;
    text-align: center;
    margin:  0px 0px 0px 0px;
    padding-bottom: 7px;
    padding-top: 7px;
  }

  footer{
    height: auto;
    margin:  0px 0px 0px 0px;
    padding:  0px 0px 0px 0px;
  }

  #btn_1{
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display:block;
  }

  #btn_2{
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display:block;
  }

  #btn_3{
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display:block;
  }

  #txt_1{
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display:block;
  }

  #result{
    /*width: 100%;*/
    display: block;
  }

  #titulo h1{
    font-size: auto;
  }


}

@media screen and (max-width: 394px) {
    img{
      width: 200px;
    }

    #titulo h1{
      font-size: 40px;
    }

}