*{
  margin:0px 0px 0px 0px;
}

html, body{
   width: 100%;
   height: 100%;
   margin: 0px 0px 0px 0px;
}

img{
  width: auto;
}

#cabeza{
  height: auto !important;
  height: 100%;
  width: 100%;
  background-color: #F3C81A;
}

.menu{
  display: block;
}


#div_logo{
  width: 100%;
  text-align: center;
  margin:0px 0px 0px 0px;
}

.menu_bar {
  display:none;
}

#div_menu{
  width: 100%;
  background-color: #333;
  margin:0px 0px 0px 0px;
}

.menu ul{
  list-style:none;
  margin-left: 25px;
  padding: 0px;
}



.menu ul li{
  display:inline-block;
  position: relative;
}

.menu ul li:last-child{
 
  border-right:0px
}

.menu ul li:hover {
  background:#E6344A;
}

.menu ul li a {
  color:#fff;
  display:block;
  text-decoration:none;
  padding: 20px;
  font-weight: bold;
}

footer{
  background-color: #333;
  height: 80px;
  width: 100%;
}

h2{
  margin:0px 0px 0px 0px;
}

#result{
  min-height: 52%;
  height: auto !important;
  height: 100%;
}

input{
 margin:0px 0px 0px 0px;
}

#div_ft p{
  color: white;
  margin:  0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

#div_ft p a{
  color: #F3C81A;
  margin:  0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
}

#div_ft h3{
  color: white;
  margin:  0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

#div_ft{
  width: 32%;
  display: inline-block;
  padding: 7px;
  text-align: center;
}

#div_cuerpo{
  height: auto !important;
  height: 100%;
}

#titulo{
    text-align: center;
}

#titulo h1{
    text-align: center;
    font-size: 60px;
}



@media screen and (max-width: 800px) {

  .menu{
    width: 100%;
    margin: 0px 0px 0px 0px;
    display: none;
  }

  .menu ul li{
    display: block;
    border-bottom:1px solid rgba(255,255,255,.5);
    text-align: center;
  }

  .menu ul li:first-child{
    display: block;
    border-top:1px solid rgba(255,255,255,.5);
    text-align: center;
  }

  .menu ul li a{
    display: block;
    padding: 10px;
  }

  .menu_bar {
    display:block;
    width:100%;
    background:#333;

  }
 
  .menu_bar .bt-menu {
    display: block;
    padding: 20px;
    color: #fff;
    overflow: hidden;
    font-size: 20px;
    text-decoration: none;
  }
 
  .menu_bar span {
    float: right;
    font-size: 20px;
  }

  #div_ft{
    width: 100%;
    display: block;
    padding: 7px 7px 7px 7px;
    text-align: center;
    margin:  0px 0px 0px 0px;
  }

  footer{
    height: auto;
    margin:  0px 0px 0px 0px;
    padding:  0px 0px 0px 0px;
  }


}